<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MasterFinananceUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MasterFinananceUI.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Data Source=DESKTOP-2R3NAU1\PERSONALINSTANCE;Initial Catalog=Finance Tracker;Integrated Security=True</value>
            </setting>
            <setting name="databaseName" serializeAs="String">
                <value>Database</value>
            </setting>
        </MasterFinananceUI.Properties.Settings>
    </userSettings>
</configuration>